<aside>
    <!-- sidebar-widget -->
    <div class="sidebar-widget">
        <h3 class="sidebar-title">About Me</h3>
        <div class="widget-container widget-about">
            <a href="post.html"><img src="images/author.jpg" alt=""></a>
            <h4>Bob Brady</h4>
            <div class="author-title">Author</div>
            <p>Sample text for the sidebar</p>
        </div>
    </div>
    <!-- sidebar-widget -->
    <div class="sidebar-widget">
        <h3 class="sidebar-title">Featured Posts</h3>
        <div class="widget-container">
            <article class="widget-post">
                <div class="post-image">
                    <a href="post.html"><img src="images/90x60-1.jpg" alt=""></a>
                </div>
                <div class="post-body">
                    <h2><a href="post.html">Post title</a></h2>
                    <div class="post-meta">
                        <span><i class="fa fa-clock-o"></i> 2. august 2016</span> <span><a href="post.html"><i class="fa fa-comment-o"></i>22</a></span>
                    </div>
                </div>
            </article>
            <article class="widget-post">
                <div class="post-image">
                    <a href="post.html"><img src="images/90x60-2.jpg" alt=""></a>
                </div>
                <div class="post-body">
                    <h2><a href="post.html">Another Post Title</a></h2>
                    <div class="post-meta">
                        <span><i class="fa fa-clock-o"></i> 2. august 2016</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                    </div>
                </div>
            </article>
            <article class="widget-post">
                <div class="post-image">
                    <a href="post.html"><img src="images/90x60-3.jpg" alt=""></a>
                </div>
                <div class="post-body">
                    <h2><a href="post.html">Post Title 3</a></h2>
                    <div class="post-meta">
                        <span><i class="fa fa-clock-o"></i> 2. august 2016</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                    </div>
                </div>
            </article>
            <article class="widget-post">
                <div class="post-image">
                    <a href="post.html"><img src="images/90x60-4.jpg" alt=""></a>
                </div>
                <div class="post-body">
                    <h2><a href="post.html">Post Title 4</a></h2>
                    <div class="post-meta">
                        <span><i class="fa fa-clock-o"></i> 2. august 2016</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                    </div>
                </div>
            </article>
            <article class="widget-post">
                <div class="post-image">
                    <a href="post.html"><img src="images/90x60-5.jpg" alt=""></a>
                </div>
                <div class="post-body">
                    <h2><a href="post.html">Post Title 5</a></h2>
                    <div class="post-meta">
                        <span><i class="fa fa-clock-o"></i> 2. august 2016</span> <span><a href="post.html"><i class="fa fa-comment-o"></i> 23</a></span>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <!-- sidebar-widget -->
    <div class="sidebar-widget">
        <h3 class="sidebar-title">Social Links</h3>
        <div class="widget-container">
            <div class="widget-socials">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-reddit"></i></a>
            </div>
        </div>
    </div>
    <!-- sidebar-widget -->
    <div class="sidebar-widget">
        <h3 class="sidebar-title">Categories</h3>
        <div class="widget-container">
            <ul>
                <li><a href="#">NodeJS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">AWS</a></li>
                <li><a href="#">Agile</a></li>
            </ul>
        </div>
    </div>
    </div>
</aside>
